In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Mobile-Price-Prediction-cleaned_data.csv")

In [3]:
df.head(10)

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4.5,6.0,128.0,6.18,35,15.0,3800,18999
5,4.7,8.0,128.0,5.80,35,12.0,5000,140300
6,4.4,8.0,128.0,6.70,64,5.0,4700,29999
7,4.5,8.0,128.0,6.70,48,12.0,4700,47999
8,4.4,4.0,128.0,6.53,48,2.0,4020,16490
9,4.5,8.0,256.0,6.18,35,5.0,3800,22999

In [4]:
df.drop(["Ratings"], axis = 1, inplace = True)

In [5]:
df.head()

   RAM    ROM  Mobile_Size  Primary_Cam  Selfi_Cam  Battery_Power  Price
0  4.0  128.0         6.00           48       13.0           4000  24999
1  6.0   64.0         4.50           48       12.0           4000  15999
2  4.0    4.0         4.50           64       16.0           4000  15000
3  6.0   64.0         6.40           48       15.0           3800  18999
4  6.0  128.0         6.18           35       15.0           3800  18999

In [6]:
X = df.drop(["Price"], axis = 1)
y = df["Price"]

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state= 0)

In [13]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [14]:
models ={
    "lr":LinearRegression(),
    "lasso": Lasso(),
    "rdge": Ridge(),
    "dtr": DecisionTreeRegressor(),
    "knn":KNeighborsRegressor(),
    "rfr": RandomForestRegressor()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    rmse = mse ** 0.5
    r2 = r2_score(y_test, y_pred)

    print(f"Name:{name}")
    print(f"R-squared:{rmse:.2f}")
    print(f"R2:{r2:.2f}")

Name:lr
R-squared:19127.71
R2:0.36
Name:lasso
R-squared:19127.71
R2:0.36
Name:rdge
R-squared:19127.75
R2:0.36
Name:dtr
R-squared:12395.48
R2:0.73
Name:knn
R-squared:15493.98
R2:0.58
Name:rfr
R-squared:9617.49
R2:0.84

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)

for name, model in models.items():
    model.fit(X_train_sc, y_train )
    y_pred_sc = model.predict(X_test_sc)
    
    mse_sc = mean_squared_error(y_test, y_pred_sc)
    rmse_sc = mse_sc ** 0.5
    r2_score_sc = r2_score(y_test, y_pred_sc)
    
    print(f"Name:{name}")
    print(f"R-squared:{rmse_sc:.2f}")
    print(f"R2:{r2_score_sc:.2f}")

Name:lr
R-squared:19127.71
R2:0.36
Name:lasso
R-squared:19127.74
R2:0.36
Name:rdge
R-squared:19128.49
R2:0.36
Name:dtr
R-squared:12578.79
R2:0.72
Name:knn
R-squared:12643.03
R2:0.72
Name:rfr
R-squared:9696.81
R2:0.83

In [23]:
Data = {
    "id": np.arange(1, 243),
    "Actual Prediction": y_test,
    "Machine Prediction": y_pred_sc,
}
Result = pd.DataFrame(Data)

ValueError: All arrays must be of the same length

In [21]:
Result

     Actual Prediction  Machine Prediction
312               3999         3218.540000
389              36999        37003.910000
196                715         1127.081714
14               43999        43950.417591
401                995         1004.417668
..                 ...                 ...
518               1575         1570.905143
334              30999        31399.010000
710                639         1458.258452
144               1099         1134.058160
214               1099         1061.602619

[243 rows x 2 columns]